<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
</head>
<body>

  <mat-sidenav-container>
    <mat-sidenav role="navigation">
      <mat-nav-list>
        <mat-list-item>
          test
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>My Application</span>
      </mat-toolbar>
      <main>
        <router-outlet></router-outlet>
      </main>
      <div>
        1. View of auth form with angular material, flexLayout, reactive or simple form submission
        2. Write unit test for auth component to test form render and validity of form, inputs, errors
        write routing and locate auth form on page /login , test routing
        write authguard to check on mainpage and redirect to login, test auth guard
        write service to fake login, test service (try to write tests, and then to write implementation)

        write test to test db connection in auth component?
        write service to implement db connection to auth component?
        write another components to visualize whole app?
        write e2e test to check whole app?
      </div>
      <div>
        tdd
        services
        +modules
        1. view
        material
        2. routing
        routing
        auth guard
        3. dummy data
        models
        4. real data
        5. ngrx
        ngrx
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</body>
</html>
